body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ralewayFont{
  font-family: "Raleway";
  font-size: 13px;
  color: #203A43;
}
.signikaFont{
  color: #203A43;
  font-family: "Signika";
}
.hammerFont{
  color: #203A43;
  font-family: "Hammersmith";
}
.headerPfp{
  max-width: 120px;
  min-width: 70px;
}
.headerPfp img{
  border-radius: 80px;
}
.headerName{
  font-family: 'Julius Sans One', sans-serif;
  font-weight:normal;
}
.headerSocials{
  transition: 0.5s;
  min-width: 100px;
  margin: 0px 5px 0px 5px;
  text-align: center;
  border-radius: 50px;
}
.headerSocials:hover{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: #203A43;
  color: #eeec;
}
.linkIcon{
  transition: 0.1s;
}
.headerSocials:hover .linkIcon{
  transform: scale(1.1);
}


.darkMode{
  border: 1px solid black;
  border-radius: 25px;
  width: 40px;
  transition: 0.5;
}
.navText{
  font-family: 'Kanit';
}
a{
  text-decoration: none;
  color: black;
}

.btnNav{
  height: 50px;
  border: 1px solid #dee2e6;
  transition: 0.3s;
  background-color: white;
}
.btnNav:hover{
  background-color: #dee2e6;
}
.active{
  background-color: #ebeeec;
}
.mainContainer{
  min-height: 60vh;
  background-color: #ebeeec;
}
li{
  list-style-type: none;
}
.cardSize{
  margin: 0px 10px 10px 10px;
  padding-top: 10px;
  max-width: 18rem;
  max-height: 400px;
}
.cardSize:hover{
  cursor: pointer;
}
.projectImage{
  height: 150px;
  width: 100%;
}
.projectImage:hover{
  cursor: pointer;
}
.projectLink:hover .linkIcon{
  transform: scale(1.1);
}

.techBox{
  min-width: 50px;
  border: 1px solid black;
  border-radius: 50px;
  margin: 0px 0px 5px 0px;
}

.footerLogo{
  max-height: 150px;
}

