body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ebeeec;
}

.App {
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s;
}

/* -------------Theme Colors------------ */
.bgDarkCustom {
  transition: 0.3s ease-in;
  background-image: url('./misc/bgDarkCustom.jpg');
  background-size: contain;
}

.bgDark {
  background-color: #121212;
}

.bgDarkBox{
  transition: 0.3s;
  background-color: #292929;
}

.bgLight {
  background-color: white;
}

.lightText {
  color: #e2e2e2;
  /* color: #818181; */
}

.darkText {
  color: #203A43;
}

.lightBtnText:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: #203A43;
  color: #eeec;
}

.darkBtnText:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: white;
  color: #203A43;
}

/* ------------------------ */


/* -----------------Fonts------------------- */
.ralewayFont {
  font-family: "Raleway";
  font-size: 13px;
}

.signikaFont {
  font-family: "Signika";
}

.hammerFont {
  font-family: "Hammersmith";
}

/* --------------------------------------------- */

/* ---------------Scroll Bar------------------- */

::-webkit-scrollbar {
  width: auto;
  background-color: #ebeeec00;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #203a4300;
  transition: 0.3s ease-in-out;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #203A43;
  border: 2px solid white;
  border-radius: 10px;
}

/* --------------------------Header CSS---------------- */

.headerPfp {
  max-width: 120px;
  min-width: 70px;
}

.headerPfp img {
  border-radius: 80px;
}

.headerName {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: normal;
}

/* Toggle Theme */
.toggleBG input {
  opacity: 0;
}

.toggleBG {
  position: relative;
  display: block;
  height: 30px;
  width: 50px;
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.4), inset 0px -1px 4px rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  background-color: #ebeeec;
}

.circle {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;


}

.circle::before {
  transition: 0.3s;
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  margin: 5px;
  /* background-color: #203a4300; */
  box-shadow: 5px 50px 0 0 #f8b65a;
  top: -49px;
  left: -5px;
  border-radius: 20px;
}

.toggleBG input:checked+.circle::before {
  transform: translateX(20px);
  box-shadow: 7px 5px 0 0 #636363;
  top: -4px;
  left: -5px;
}

.moon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 9px 9px 0 0 #333;
  margin-left: -25px;
  margin-top: -25px;
}


.darkMode {
  border: 1px solid black;
  border-radius: 25px;
  width: 40px;
  transition: 0.5;
}

/* ---------------------- */


/* Toggle Theme V2 */
.toggleBg input {
  opacity: 0;
}

.toggleBg {
  position: relative;
  display: block;
  height: 30px;
  width: 60px;
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.4), inset 0px -1px 4px rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  background-color: #ebeeec;
  cursor: pointer;
  overflow: hidden;
}

.selector {
  display: inline-block;
  position: absolute;
  left: 0;
}

.switch {
  position: absolute;
  background-color: #203A43;
  border: 1px solid white;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  left: 0;
  transition: 0.4s ease-out;
}

.Sun {
  padding: 5px 14px 0px 4px;
  transition: 0.5s ease-out;
}

.Moon {
  position: relative;
  color: #203A43;
  transition: 0.4s ease-out;
  top: 30px;
}

.toggleBg input:checked+.switch {
  background-color: #27374D;
  left: 30px;
}

.toggleBg input:checked~.selector .Moon {
  color: white;
  top: 0px;
}

.toggleBg input:checked~.selector .Sun {
  transform: translateY(30px);
}

/* --------------------------- */

/* Social Buttons */
.btn-light {
  border-radius: 15px;
  border: none;
  background-color: white;
  margin: 5px 0px 0px 0px;
  width: 100%;
}

.btn-light:active {
  transform: scale(0.95);
}

.headerBtn {
  display: flex;
  justify-content: flex-end;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  padding: 16px;
  transition: 0.4s ease-out;
  transition-delay: 0.2s;
}

.icon {
  transition: 0.4s ease-out;
}

.lightIcon {
  color: white;
}

.darkIcon {
  color: #203A43;
}

.headerBtn:hover {
  width: 100px;
  margin: 50px;
  padding: 0px;
}

.socialName {
  overflow: hidden;
  transition: 0.3s ease-out;
  transition-delay: 0.2s;
}
.toggleSwitch{
  position: absolute;
  right: 140px;
}

/* -----------------------Navigation Bar----------------------- */
.navPadding {
  padding: 0px 12px 0px 12px;
}

.navText {
  font-family: 'Kanit';
}

a {
  text-decoration: none;
  color: black;
}

.btnNav {
  height: 50px;
  border-bottom: 2px solid #203a4300;
  transition: 0.3s ease-in-out;
}
.active{
  border-bottom: 2px solid #203A43;
}


/* ------------------------------------------ */



.mainContainer {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  list-style-type: none;
}

/* Projects */
.searchBox{
  position: relative;
  display: flex;
  justify-content: left;
  background-color: white;
  border-radius: 30px;
  padding: 0px 5px 0px 5px;
  height: 26px;
}
.searchBox input{
  box-sizing: border-box;
  line-height: 18px;
  border: 0;
  outline: 0;
  margin: 0px 0px 0px 22px;
}
.searchIcon{
  position: absolute;
  top: 6px;
  left: 6px;
}


.cardSize {
  margin: 0px 10px 10px 10px;
  padding-top: 10px;
  max-width: 18rem;
  height: 400px;
  max-height: 400px;
  transition: 0.4s ease-in;
}

.cardSize .description {
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  height: 78px;
  overflow: hidden;
  display: -webkit-box;
}

.cardSize:hover {
  cursor: pointer;
}

.projectImage {
  height: 150px;
  width: 100%;
}

.projectImage:hover {
  cursor: pointer;
}

.card {
  /* box-shadow: 2px 3px 10px 0px #9f9f9f6e; */
  transition: 0.3s ease-in-out
}

.card:hover {
  transform: scale(1.03);
  /* box-shadow: 2px 3px 10px 0px #9f9f9f6e; */
}

.notHover {
  opacity: 0.8;
}
.linkIcon {
  transition: 0.3s ease-out;
}

.projectLink {
  /* height: 30px; */
  transition: 0.4s ease-out;
}

.projectLink:hover .linkIcon {
  transform: translate(4px, -4px);
}


.card:hover .card-title .linkIcon {
  transform: translate(4px, -4px);
}

.techBox {
  min-width: 50px;
  max-height: 30px;
  border: 1px solid black;
  border-radius: 50px;
  margin: 0px 5px 5px 0px;
}
.techBoxBlack{
  min-width: 50px;
  max-height: 30px;
  border: 1px solid white;
  border-radius: 50px;
  margin: 0px 5px 5px 0px;
}

.footerLogo {
  max-height: 150px;
}

/* About */

.upworkIcon{
  max-width: 80px;
  height: auto;
}

li {
  list-style-type: circle;
}

.hireBtn {
  background-color: rgb(255, 255, 255);
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  border: 2px solid #203A43;
}

.hireBtn p {
  color: white;
}

.hireBtn img {
  height: 17px;
}

.hireBtn:hover {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 1px 2px 8px;
}

.hireBtn:active img {
  transform: scale(0.97);
  transform-origin: center;
}

.certificate {
  max-width: 100%;
}

.experience{
  border: 1px solid #ebeeec00;
  background-color: #f1f6f300;
  border-radius: 8px;
  transition: 0.2s ease-in;
}
.experience:hover{
  border: 1px ridge #f1f1f1;
  background-color: #f1f6f3;
  cursor: pointer;

}
/* --------------------Tech Stack---------------------- */
.customSkillIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardBox{
  padding: 0px;
  margin: 0px;
  transition: 0.3s ease-in;
}
.cardBox:hover .skillBox svg{
  color: white;
}
.skillBox svg{
  transition: 0.2s;
}
.itemTextBox p{
  transition-delay: 0.3s;
  color: #ebeeec;
  transition: 0.2 ease-out;
  font-size: 0.6rem;
}
.skillBox article{
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemTextBox{
  white-space: nowrap;
  transition: 0.3s ease-out;
  transition-delay: 0.1s;
  width: 0px;
  height: 15px;
  background-color: #203A43;
  overflow: hidden;
  margin: 0 auto;
}
.cardBox:hover .itemTextBox{
  width: 100%;
}

/* -----------Services--------------- */

.serviceBox{
  min-height: 60vh;
  background-color: #ebeeec;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.service{
  border: 1px solid #cbc7c700;
  transition: 0.2s ease-in;
}

.service:hover{
  background-color: #eff3f0;
  border: 1px solid #cbc7c7;
  border-radius: 5px;
  transform: scale(1.01);
}